.mobile {
  &__tag {
    font-family: Helvetica, Arial, sans-serif;
    color: $white;
    background-color: $red;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
  }
  &__par {
    @extend %head-line;
  }
  &__underline {
    @extend %underline;
  }
  &__auth {
    @extend %auth;
  }
  &__btn {
    @extend %btn-redblack;
    &:hover {
      background-color: $black;
    }
  }
  &__client {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    width: 50%;
    // height: 25rem;
  }
}

.mobile-first {
  background-color: #ececec;
  &__container {
    // padding-bottom: 4rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
  }

  &__image {
    padding-left: 3rem;
    width: 50%;
  }
}

.mobile-second {
  // padding-top: 5rem;
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
  }

  &__image {
    padding-right: 3rem;
    width: 50%;
  }
}
