.section {
  // position: relative;
  padding: 8rem 0 5rem 0;
  background: url(../assets/front-img/blackred.jpg) no-repeat center center
    fixed;
  background-size: cover;
  color: $white-blur;
  height: 63rem;
  font-size: 1.3rem;
  @include respond(tab-land) {
    font-size: 1rem;
    height: 59rem;
  }
  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    &-title {
      @extend %transform-text;
      font-family: "Passion One", cursive;
      text-transform: uppercase;
      flex: 1;
      font-size: 10rem;
      text-align: center;
      font-weight: 400;
      line-height: 0.85;
      letter-spacing: 1.5rem;
      margin-bottom: 2.7rem;
      @include respond(tab-land) {
        font-size: 7rem;
      }
    }
    &-explain {
      @extend %transform-text;
      font-family: "FSSinclairWeb-Medium", Helvetica, Arial, sans-serif;
      font-size: 1.3rem;
      letter-spacing: 0.15rem;
      // margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
    &-btn {
      @extend %transform-text;
      font-family: "Passion One", cursive;
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
      height: 2.3rem;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      transition: all 0.2s ease-out;
      &:hover {
        border-bottom: 0.2rem solid $red;
      }
    }
    &-des {
      @extend %transform-text;
      text-align: center;
      line-height: 1.5rem;
      letter-spacing: 0.1rem;
      margin-bottom: 5rem;
    }
    &-scroll {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__icon {
        // @extend %transform-text;
        background-image: url(../assets/front-img/dust.jpg);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }
      &__text {
        @extend %transform-text;
        text-transform: uppercase;
      }
    }
  }
}
