$red: #ed1b24;
$black: #111517;
$white: #ffffff;
$white-blur: #eeeeee;

.mg-23 {
  margin: 0 23rem;
}
.color-red {
  color: $red;
}

%transform-text {
  background-image: url(../assets/front-img/dust.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
// .blur {
//   position: absolute;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   top: 0;
//   // bottom: 2rem;
//   // width: 300rem;
//   // height: ;
//   background-color: blue;
// }
%btn-redblack {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  border-radius: 0.3rem;
  text-decoration: none;
  color: $white;
  background-color: $red;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.8rem 1.3rem;
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
}

%head-line {
  font-weight: 600;
  font-size: 2.8rem;
  letter-spacing: 0.15rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}

%underline {
  background-color: $red;
  width: 20%;
  height: 0.25rem;
  border-radius: 0.2rem;
  margin-bottom: 1.5rem;
}

%auth {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}
